  body,
  html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }

  /* Google chrome */
  @-webkit-keyframes svg-text-anim {
    40% {
      stroke-dashoffset: 0;
      fill: transparent;
    }

    60% {
      stroke-dashoffset: 0;
      fill: #ffffff;
    }

    100% {
      stroke-dashoffset: 0;
      fill: #ffffff;
    }

  }

  /* Most browsers */
  @keyframes svg-text-anim {
    40% {
      stroke-dashoffset: 0;
      fill: transparent;
    }

    60% {
      stroke-dashoffset: 0;
      fill: #ffffff;
    }

    100% {
      stroke-dashoffset: 0;
      fill: #ffffff;
    }
  }

  /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  .fill-white {
    fill: white;
    color: #bdbdbd;
  }

  .skillset-icon {
    height: 42.5px
  }

  .dev-icons {
    text-align: center;
    display: none;
  }

  .software-skill-inline {
    display: inline-block;
  }

  .software-skill-inline p {
    color: white;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 100;
  }

/* Fullpage JS Fade Transition */
  /* .fullpage-wrapper .fp-section {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 10;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.7s ease-in-out;
  }

  .fullpage-wrapper .fp-section.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  .fullpage-wrapper .fp-section .fp-slidesContainer {
    width: 100% !important;
    -webkit-transform: none !important;
    transform: none !important;
  }

  .fullpage-wrapper .fp-section .fp-slidesContainer .fp-slide {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.7s ease-in-out;
  } */
